* {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Times, 'Times New Roman', serif;
}

body {
  background-color: aliceblue;
  margin: 0 auto;
  padding: 0;
  min-height: 100%;
  position: relative;
}

.titulo_principal {

  background-image: linear-gradient(to right, #fff, #0000ff, #ff0000);
  color: #ffffff;
  font-size: 32px;
  font-family: 'Bebas Neue', sans-serif;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links_principais {
  background-color: #000000;
  margin-top: 0;
  padding: 10px;
}

.links_principais nav a {
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  padding: 5px;
}

.links_principais nav a:hover {
  background-color: white;
  color: #000000;
  border-radius: 5px;
}

.container {
  background-color: white;
  margin-right: 3em;
  margin-left: 3em;
}


.titulo_secundario {
  background-color: white;

  border: #000000;
}

.texto_principal p {
  background-color: white;

  height: 100%;
}

.row {
  display: flex;
  margin-bottom: 100px;
  padding-bottom: 150px;

}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  border: 1px solid #f1f1f1;
  float: left;
  margin: 25px;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
  position: relative;
  right: 4em;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #262024;
  color: white;
  transform: rotateY(180deg);
}


.count_rodape {
  width: 100%;
  height: 10%;
  display: inline;
  align-items: center;
  /* centraliza horizontalmente */
  justify-content: center;
  /* centraliza verticalmente */
  bottom: 0;
  left: 0;
  align-items: center;
  text-align: center;
  background-color: black;
  margin-bottom: 10px;

}

.rodape {
  position: relative;
  bottom: 0rem;
  background-color: #000000;
  padding-bottom: 5rem;

}


/* 
   */

.icones-sociais li {
  display: inline;
  align-items: center;
  flex-wrap: wrap;
  width: 20px;
  height: 10px;
  margin: 15px;
  color: white;

}


.icones-sociais li a img {
  margin-top: 20px;
  margin-bottom: 30px;
  width: 30px;
}


.principal {
  background-color: white;
  padding: 30px;
  text-align: center;
}

.column {
  width: 18%;
  padding: 25px;
  text-align: center;


}

.column img {
  width: 100px;
  border: 2px solid #7351ee;
  border-radius: 5%;
  padding: 1px
}


.letreiro {
  width: auto;
  height: 300px;
  position: absolute;
  top: 220px;
  right: 0;
  float: right;
}


.sobre {
  align-items: center;
  margin: 5px;
  padding: 20px;
  padding-bottom: 250px;
}

/* CSS imagem */

.flips {
  background-color: whitesmoke;
  border-radius: 10px;
  padding-top: 75px;
  margin-top: 10px;

}

.flips img {
  border-radius: 15px;


}

.galer {
  padding-bottom: 60px;
  background-color: white;

}

.galer img {

  width: 300px;
  height: 300px;
  margin: 30px 25px 25px 30px;
  border-radius: 5px;
  border: solid black;

}

.contato {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  margin: 1rem;
  text-align: center;
  justify-content: center;
  margin: 17rem;
  align-items: center;

}

#pc {
  font-family: Arial, Helvetica, sans-serif;
}

.contato img {
  width: 7rem;
  height: auto;
  margin: 1rem;

}

#email {
  font-family: Arial, Helvetica, sans-serif;

}

.card {
  border: solid 3px black;
}




.card img {
  width: 150px;
  height: 150px;
  border: solid 2px black;
  margin: 10px;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.galer div {
  display: inline;
}

.card1 {

  background-image: linear-gradient(white, blue, red);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px;
  width: 300px;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px solid black;

}

.card1 h2 {
  font-family: helvetica;
  font-size: 32px;
  margin-bottom: 10px;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;

}

.card1 p {
  font-family: helvetica;
  font-size: 25px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}

.card1 img {
  width: 300px;
  height: 300px;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 1rem;

}

.card1 button {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: blue;
  color: white;
  cursor: pointer;
font-size: 20px;
padding: 1.2rem;
}
.card1 button:hover{
  background-color: rgb(72, 156, 252);

}

#footertext {
  color: white;
}

#footertext a {
  text-decoration: none;
  color: white;

}


.banner {
  text-align: center;
  font-size: 26px;
  margin: 1rem;
}

#titu {
  text-align: center;
  font-size: 32px;
  margin: 2rem;
}

#esti{
  font-style: italic;
}

#dias {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 3rem 1rem 1rem 1rem;
  align-items: center;
  justify-content: center;
  align-items: center;

}

#dias a {
  padding: 1rem;
  background-color: #FF2346;
  border: 1px solid black;
  text-decoration: none;
  color: #f2f2f2;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: #000;
  border-radius: 1rem;
  width: 12rem;
  margin: 1rem;
  font-size: 21px;
}


#tituage{

  font-size: 30px;
  text-align: center;
  margin: 2rem;
}

#select{
  text-align: center;
  position: relative;
  left: 43.5%;
  margin: 1rem;
  padding: 1rem;
  font-size: 25px;
  border-radius: 1.3rem;
  background-color: #f2f2f2;
}

#agend{
  text-align: center;
}


#agend label{
  font-size: 32px;
}


#agend input{
padding: 1.2rem;
width: 6rem;
font-size: 15px;

}

#agendar{
  text-align: center;
  margin: 7rem;
  
  
}

#agendar button{
  padding: 2rem;
  border-radius: 1rem;
  background-color: black ;
  color: white;
  font-size: 32px;
  font-weight: bold;
cursor: pointer;
  
}

#agendar button:hover{
  transition: o.4s;
  background-color: rgb(180, 180, 180);
  color: black;



}